@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero {
    width: 100%;
    display: flex;
    height: 100vh;
    background-color: #282828;
}

#carrinho {
    width: 60%;
    height: 100%;
}

#pecas {
    width: 40%;
    height: 100%;
    background-color: #F8F7F4;
}

#titulo-texto {
    color: #F8F7F4;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#freeGhost-img {
    width: 520px;
    height: 360px;
    margin-left: 100px;
    margin-top: 70px;
}

#description-carrinho {
    width: 100%; 
    text-align: center; 
    color: white; 
    font-size: 30px; 
    font-family: "Athiti", sans-serif; 
    font-weight: 400; 
    word-wrap: break-word
}
