* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #F8F7F4;
   
   
}

#title-team {
    width: 100%;
    height: 500px;
    background-color: rgb(197, 247, 244);
    text-align: center;
}

#first-participants {
    width: 100%;
    height: 500px;
    background-color: black;
}

#second-participants {
    width: 100%;
    height: 500px;
    background-color: blue;
}